<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ab ut error mollitia voluptas ex sint temporibus accusantium assumenda, recusandae nostrum. Quod corporis sit voluptate necessitatibus nemo, distinctio ex animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ab ut error mollitia voluptas ex sint temporibus accusantium assumenda, recusandae nostrum. Quod corporis sit voluptate necessitatibus nemo, distinctio ex animi.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem ab ut error mollitia voluptas ex sint temporibus accusantium assumenda, recusandae nostrum. Quod corporis sit voluptate necessitatibus nemo, distinctio ex animi.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>